# Ignore virtual environments
venv/
.env

# Ignore cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.db
*.sqlite3

# Ignore secrets and auth files
*.pem
*.key
*.crt

# Ignore version control and IDE/editor files
.git/
.gitignore
.idea/
.vscode/
.DS_Store
OneDrive/

# Ignore zip and archive files
*.zip
*.tar
*.gz

# Optional: ignore Docker-related files if not needed in container
docker-compose.yml
Dockerfile
